*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-weight: bold;
}


.main {
    display: flex;
    flex-direction: row;
}

body {}

.poster {
    position: absolute;
    width: 800px;
    display: flex;
    flex-direction: column;
    font-family: 'BasicCommercial LT Bold', Helvetica, sans-serif;
    color: blanchedalmond;
}

.poster__alt__text {
    position: absolute;
    width: 800px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    color: green;

}

.nav {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: slateblue;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav__item>a {
    color: white;
    text-decoration: none;
}

.nav__item:not(:last-child) {
    margin: 0px 5px 0px 5px;
}

.top {
    height: 385px;
    display: flex;
    background-color: black;
}

.top__circle__white {
    width: 45%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.top__circle__red {
    width: 45%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 100px;
    border-left: 440px solid #00b2a2;
    border-top: 385px solid transparent;
}

.middle {
    height: 385px;
    display: flex;
    background-color: white;
}

.middle__circle__red {
    width: 45%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.middle__circle__blue {
    width: 45%;
    height: 100%;
    background-color: blue;
    border-radius: 50%;
}

.middle__smalltext {
    padding-left: 15px;
    padding-top: 20px;
    height: 60%;
    text-align: left;
    font-size: 0.8rem;
}

.middle__titletext {
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 4rem;
}

.bottom {
    height: 385px;
    display: flex;
    background-color: black;
}


.bottom__halfcircle__red {
    width: 100%;
    height: 100%;
    background-color: #fc0d0d;
    border-radius: 0px 0px 500px 500px;

}

.bottom__halfcircle__yellow {
    width: 100%;
    height: 100%;
    background-color: #FCAC0D;
    border-radius: 0px 0px 500px 500px;

}

.bottom__smalltext {
    padding-left: 380px;
    padding-top: 20px;
    height: 60%;
    font-size: 0.8rem;
    color: black;
}

.circle {
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

.content {
    background-color: black;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.footer {
    padding-top: 20px;
    font-size: 0.8rem;
    color: black;
}



@media screen and (max-width:800px) {

    .poster {
        position: absolute;
        width: 400px;
        display: flex;
        flex-direction: column;
        font-family: 'BasicCommercial LT Bold', Helvetica, sans-serif;
        color: blanchedalmond;
    }

    .top {
        height: 200px;
        display: flex;
        background-color: black;
    }
    .triangle {
        width: 0;
        height: 60px;
        border-left: 220px solid #00b2a2;
        border-top: 200px solid transparent;
    }
    .middle {
        height: 200px;
        display: flex;
        background-color: white;
    }

    .middle__smalltext {
        padding-left: 15px;
        padding-top: 10px;
        height: 60%;
        text-align: left;
        font-size: 0.4rem;
    }

    .middle__titletext {
        padding-left: 15px;
        padding-bottom: 10px;
        text-align: left;
        vertical-align: middle;
        font-size: 2rem;
    }

    .bottom {
        height: 200px;
        display: flex;
        background-color: black;
    }

    .bottom__smalltext {
        padding-left: 190px;
        padding-top: 10px;
        height: 60%;
        font-size: 0.4rem;
        color: black;
    }
}



