*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'BasicCommercial LT Bold', Helvetica, sans-serif;
    color: blanchedalmond;
}

#poster {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.debug {
    border: 1px solid black;
}

.nav {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: slateblue;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav__item>a {
    color: white;
    text-decoration: none;
}

.nav__item:not(:last-child) {
    margin: 0px 5px 0px 5px;
}

.upper {
    height: 30vh;
    display: flex;
    background-color: black;
}

.upper__circle {
    width: 45%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.middle {
    height: 30vh;
    display: flex;
    background-color: white;
}

.middle__circle {
    width: 45%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.lower {
    height: 30vh;
    display: flex;
    background-color: black;
}

.lower__circle {
    width: 100%;
    height: 100%;
    background-color: #fcac0d;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}



.circle {
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

.triangle {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.content {
    background-color: black;
    width: 50%;
    height: 100%;


}

.smalltext {
    left: 20px;
    vertical-align: top;
    font-size: 0.8rem;
}

.titletext {
    text-align: center;
    vertical-align: center;
    font-size: 4rem;
}

@media screen and (max-width:700px) {}