*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'BasicCommercial LT Bold', Helvetica, sans-serif;
}

#poster{
    display: flex;
    flex-direction: column;
}
.debug {
    border: 1px solid black;
}

.nav {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: slateblue;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav__item>a {
    color: white;
    text-decoration: none;
}

.nav__item:not(:last-child) {
    margin: 0px 5px 0px 5px;
}

.upper {
    height: 30vh;
    display: flex;
    background-color: black;
}
.upper__circle {
    width: 45%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.middle {
    height: 30vh;
    display: flex;
    background-color: white;
}
.middle__circle {
    width: 45%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}


.lower {

    height: 30vh;
    display: flex;
    background-color:blue;
}

.circle {
    width: 45%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}

.triangle {
    width: 45%;
    height: 100%;
    background-color: black;
}

.menu {
    background-color: palegreen;
    width: 25%;
    height: 100%;
}

.content {
    background-color: tomato;
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.aside {
    background-color: purple;
    width: 25%;
    height: 100%;
}

.bg-purple {
    background-color: purple;
}

.bg-yellow {
    background-color: yellow;
}

@media screen and (max-width:700px) {}